html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #362f69;
}

/* Estilo para o header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #B0C4DE;
  border-radius: 10px; /* Valor em pixels para arredondar as pontas */
  box-shadow: 10px 7px 15px rgba(0, 0, 0, 0.700);
  text-shadow: 6px 7px 25px #ffffff;
}

/* Estilo para o nome */
h1 {
  margin: 0;
  color: #362f69;
}

/* Estilo para a lista de links */
.ul-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.ul-linksf {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

/* Estilo para cada link */
li {
  margin-left: 10px; /* Espaçamento entre os botões */
}

/* Estilo para os links como botões */
li a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #362f69;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Estilo para a cor da animação */
li a:hover {
  background-color: #FFA135;
}

/* Estilo para o menu hamburguer */
.menu-icon {
  display: none; /* Inicialmente, oculto em resoluções maiores */
  font-size: 24px;
  cursor: pointer;
}

/* Media query para tornar o menu responsivo em resoluções menores */
@media (max-width: 767px) {
  .ul-links {
    display: none; /* Oculta os botões em telas menores */
    flex-direction: column; /* Exibe os links em coluna */
    background-color: #f0f0f0; /* Cor de fundo do menu hamburguer */
    padding: 10px;
    position: absolute;
    top: 60px; /* Ajuste conforme necessário para a posição do menu */
    left: 0;
    right: 0;
  }

  .ul-links li {
    margin: 5px 0; /* Espaçamento entre os itens do menu */
  }

  .menu-icon {
    display: block; /* Mostra o ícone do hamburguer em telas menores */
  }

  /* Estilo para exibir o menu hamburguer */
  #menu-checkbox:checked + nav .ul-links {
    display: flex;
    background-color: #ffffff;
    justify-content: flex-end;
  }

  nav {
    position: relative;
  }

  /* Estilo para exibir o ícone de "X" quando o menu estiver aberto */
  #menu-checkbox:checked + nav .menu-icon::before {
    content: '\00D7'; /* Ícone de "X" para fechar o menu */
  }
}

/* Estilo para a seção */
.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #362f69;
  color: #bbcadf;
  text-shadow: 6px 7px 15px #000000;
}

/* Estilo para a imagem */
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Imagem redonda */
  margin-right: 100px; /* Adiciona espaço à direita da imagem */
  box-shadow: 10px 7px 15px rgba(0, 0, 0, 0.700);
}

/* Estilo para o parágrafo */
.profile-section p {
  font-size: 18px;
  line-height: 1.6;
  margin: 10px 0; /* Adiciona espaçamento vertical e remove espaçamento horizontal */
  flex: 1;
  color: #ffffff;
}

/* Estilo para a seção de cards */
.cards-section {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo para cada grupo de cards */
.card-group {
  background-color: #B0C4DE;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 10px 7px 15px rgba(0, 0, 0, 0.700);
}

/* Estilo para títulos dos grupos */
.card-group h2 {
  margin-top: 0;
  margin-bottom: 20px;
  width: 650px;
}

/* Estilos para os mini cards */
.card-group .mini-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Estilos para cada mini card */
.card-group .mini-card {
  width: 102px;
  height: 150px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.700);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 
    -1px -1px 5px #000000, 
    -1px 1px 5px #000000,                    
    1px -1px 5px #000000,                  
    1px 0px 5px #000000;
}

/* Animação mini card */
.card-group .mini-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* Media query para resoluções maiores */
@media (min-width: 767px) {
  .cards-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query para resoluções menores */
@media (max-width: 767px) {
  .cards-section {
    display: flex; /* flexbox para que sejam empilhados verticalmente */
    flex-direction: column;
  }
}

/* Estilos para o título dos card groups */
.card-grouptitle {
  color: #ffa135;
  text-shadow: 
             -1px -1px 5px #000000, 
             -1px 1px 5px #000000,                    
              1px -1px 5px #000000,                  
              1px 0px 5px #000000;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #B0C4DE;
  border-radius: 10px;
  box-shadow: 10px 7px 15px rgba(0, 0, 0, 0.700);
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 2em;
    padding: 2em 2em;
}

}


/* midia para os mini cards */
#rockbrabo {
  background: url(assets/angus.jpg) center center;
  background-size: cover;
}

#praia {
  background: url(assets/praia.jpg) center center;
  background-size: cover;
}

#seriesfilmes {
  background: url(assets/series-e-filmes.jpeg) center;
  background-size: cover;
}

#videogames {
  background: url(assets/videogame.jpg) center;
  background-size: cover;
}

#cozinhar {
  background: url(assets/cozinhar.jpg) center;
  background-size: cover;
}

#bea {
  background: url(assets/bea.jpg) center;
  background-size: cover;
}

#philip {
  background: url(assets/philip.jpeg) center;
  background-size: cover;
}

#mastodon {
  background: url(assets/mastodon.jpg) center;
  background-size: cover;
}

#killswitch {
  background: url(assets/atonement.jpeg) right;
  background-size: cover; 
}

#zealnardor {
  background: url(assets/zeal.jpeg) center;
  background-size: cover;
}
#brava {
  background: url(assets/bravabuzios.jpg) center;
  background-size: cover;
}

#valedeuses {
  background: url(assets/valedosdeuses.jpg) center;
  background-size: cover;
}

#itauna {
  background: url(assets/itaunasaqua.jpg) center;
  background-size: cover;
}

#vila {
  background: url(assets/vilasaqua.jpg) right;
  background-size: cover; 
}

#country {
  background: url(assets/countryfribvurgo.jpg) center;
  background-size: cover;
}